Options -Indexes


ErrorDocument 403 /?goto=error.php&errno=403
ErrorDocument 404 /?goto=error.php&errno=404


RewriteEngine on

RewriteRule ^\+$	https://plus.google.com/115859961800127275872/posts
RewriteRule ^twitter$	https://twitter.com/daw___
RewriteRule ^github$	https://github.com/claudiodangelis
RewriteRule ^gklst$		http://geekli.st/claudiodangelis

RewriteRule ^projects$ index.php?goto=projects.php
RewriteRule ^projects/(.*)$ index.php?goto=projects.php&p=$1


RewriteRule ^about$ index.php?goto=about.php
RewriteRule ^about/$ index.php?goto=about.php

RewriteRule ^changelog/$ index.php?goto=changelog.php
RewriteRule ^changelog$ index.php?goto=changelog.php

RewriteRule ^blog$ index.php?goto=blog.php
RewriteRule ^blog/(.*)/(.*)/(.*)/(.*)$ index.php?goto=blog.php&y=$1&m=$2&d=$3&webTitle=$4

RewriteRule ^gpluspaste/(.*)$ index.php?goto=gpluspaste.php&url=$1

RewriteRule ^tag/(.*)	index.php?goto=tag.php&tag=$1

RewriteRule ^lang/(.*)	index.php?goto=lang.php&postLang=$1

RewriteRule ^search/	index.php?goto=search.php

RewriteRule ^cv/	Claudio_d_Angelis_CV.pdf
